.top_of_page {
    display: flex;
    width: 100%;
    height: 100%;
}

body, h3, h4 {
    padding: 0;
    margin: 0;
    border: 0;
}

figure, img, nav ul, nav, .top-of-page {
    padding: 0;
    margin: 0;
}

header {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif, Verdana, Tahoma, serif;
}

nav {
    position: fixed;
    border-right: solid;
    text-align: center;
    max-width: 250px;
    height: 100vh;
    overflow-y: scroll;
    background-color: white
}

nav header {
    padding-top: 5px;
}

nav img {
    max-width: 100%;
}

nav li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    border-top: 1px solid;
    list-style: none;
    text-align: left;
    min-height: 40px;
}

nav li:last-of-type {
    border-bottom: 1px solid;
}

.top_link {
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
    text-decoration: none;
}

li a {
    color: inherit;
    text-decoration: none;
}

nav::-webkit-scrollbar {
    display: none;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 250px;
    width: 100%;
}

main img {
    display: block;
    width: 100vw;
    max-width: 100%;
    height: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.container1 {
    width: 65%;
    max-width: 800px;
}

.container2 {
    width: 35%;
    max-width: 522px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.container2 img {
    width: auto;
    max-height: 100vh;
    float: right;
}

.bottom-space {
    height: 100vh;
}

section {
    margin-left: 25px;
}

section:first-of-type {
    padding-top: 10px;
}

.indent {
    margin-left: 25px;
}

@media(max-width: 900px) {
    .container1 {
        width: 100%;
    }

    .container2 {
        display: none;
    }

}

@media (max-width: 768px) {
    .top_of_page {
        display: block;
        width: 100%;
        height: 100vh;
    }

    nav {
        border: solid;
        max-width: calc(100vw - 6px);
        width: 100vw;
        height: calc(50vh - 6px);
        max-height: 200px;
    }

    main {
        padding-top: 0px;
        margin-left: 0;
        width: 100%;
        height: calc(100vh - 210px);
        justify-content: center;
        position: relative;
        overflow-y: scroll;
        top: 210px;
    }

    main img, nav img, .top-link {
        display: none;
    }

    section {
        margin-left: 0px;
    }

    section:first-of-type {
        padding-top: 0px;
    }

    .bottom-space {
        height: calc(100vh - 210px);
    }

}

@media (max-height: 420px) {
    main {
        height: calc(100vh - 50vh - 5px);
        min-height: 40px;
        top: calc(50% + 5px);
    }

    nav {
        min-height: 34px;
    }

    
}

@media (max-height: 89px) {
    nav {
        max-width: calc(100vw - 23px);
    }


}